.students {
    width: 50%;
    height: 100%;
    /* background-color: red; */
    background: #4c4c4c;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 30px;
    border-radius: 10px;
    overflow-y:scroll ;
}

.students .student img {
    width: 20%;
    border-radius: 50%;
    background: #ffffff;
    padding: 15px;
}

.students .student {
    width: 100%;
    background: #d4d4d4;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.students .student .text h1{
    font-size: 25px;
    color: rgb(41, 41, 41);
    font-weight: 400;
}

.students .student .text h1 span{
    color: #00518FFF;
}